html {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(250, 0, 0);
    background: #F2F2F2;
    font-family: "lucida Grande", arial, veranda, sans-serif;
    margin: 0;
}

.OuterTableStyle {
    width: 100%;
    height: 100%;
    color: white;
    text-align: left;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

h2 {
    
    font-size: 35px;
    color: black;
    margin-top: 25px;
    margin-bottom: 5px;
}

h3 {
    font-size: 28px;
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 20px;
}

.sidebarLinks {
    font-size: 15px;
    padding: 0px;
}

.sidebarLinks a {
    display: block;
    text-decoration: none;
    margin-left: 0px;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px 10px 10px;
}

.sidebarLinks a:hover {
    display: block;
    text-decoration: none;
    margin-left: 0px;
    border-bottom: 1px solid lightgrey;
    padding: 10px 0px 10px 10px;
    background-color: lightgrey;
    color: white;
}

.active {
    background-color: lightgrey;
    color: white;
}

.activetwo {
    background-color: #F0F0F0;
    color: black;
}

.activethree {
    background-color: #F0F0F0;
    color: blue;
}

.titleBarCell {
    vertical-align: center; 
    height: 50px;
    border: 1px solid lightgrey
}

.sidebarTable {
    width: 100%;
    height: 100%;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-collapse: collapse;
    padding: 0px;
}

.sidebarTable td {
    padding: 0;
}

.sidebarCaption {
    text-align: center;
    line-height: 2;
    color: white;
}

.contentCell{
    background: white;
    color: black;
    vertical-align: top;
}

.scrollingDiv{
    height: 100%;
    overflow-y: scroll;
    padding-left: 25px;
    padding-right: 25px;
}

.faqQs {
    font-weight: bold;
    font-size: large;
}

.emptyTable {
    width: 100%;
    height: 100%;
    border: 0px solid white;
    border-spacing: 0;
    border-collapse: separate;
    padding: 0;
}

.centerDiv{
    text-align: center;
}

div.img {
    margin: 5px;
    border: 2px solid #ccc;
    display: inline-block;
}

div.img:hover {
    border: 2px solid #777;
}